body {
  background-color: #000000;
  text-align: center;
  font-family: Verdana;
}
.header--main{
  font-weight: normal;
  font-size: 50px;
  color: #ffffff;
}

.below-video{
  font-size:  42px;
  font-weight: 300;
  color: #ffffff;
}
.above_image{
  font-size: 21px;
  color : Gray;
}

.below_icon{
  color : White;
  font-size: 42px;
}


/* links */
.link--cta{
  font-size: 16px;
  color: aquamarine;
}

.last_link{
  color : aquamarine;
  font-size: 16px;
}

/* Footer */
.copyright{
  color : Gray;
  font-size: 21px;
  text-align: right;
}
